    <head>
        <title>ToDo List Appication</title>
        <link rel="stylesheet" href="show.css">
    </head>
        <input type="checkbox">
        <h2>Make the curriculum 4 Pomodoros</h2>
        <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
        <a href="#" id="delete-todo-button">Delete</a>
        <a href="index.html">Go Back...</a>
        <a href="/todo/destroy/<%= @todo.id %>" class="button delete-todo-button">Delete</a>
        <a href="/todo/index">Go back...</a>
        